.nav-container {
    padding: 0.5rem;
    text-align: left;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
}

#planner {
    color: #339966;
}